    .category{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        margin-left: 200px; 
        margin: 25px;
        
    }  
    .item:nth-child(1):hover{
        background-color: rgb(112, 112, 232);
        transition: all .3s;
    }
    .item:nth-child(2):hover{
        background-color: rgb(64, 244, 124);
    }
    .item:nth-child(3):hover{
        background-color: rgb(181, 141, 219);
    }
    .item:nth-child(4):hover{
        background-color: rgb(225, 225, 21);
    }

    .item{
        width: 400px;
        border: 1px solid rgb(222, 219, 219);
        transition: all .3s;
        
    }

    .item h2 {
        padding: 25px;
        font-family: 'Montserrat', sans-serif;
        opacity: 0.7;

    }
    .item img {
        padding: 25px;
    }

    .teach{
        margin-left: 20px;
        margin: 30px;
    }

    p {
        display: inline-block;
        
    }

    .container{
        display: flex;
    align-items: center;
    }

    .ptag ,.teachCategory{
        margin: -135px;
        margin-left: 100px;
        font-size: 55px;
        font-family: 'Montserrat', sans-serif;
    
    }
    .ptag{
        opacity: 0.6;
        letter-spacing: -3px;

    }

    .teachCategory{
        opacity: 0.7;
        letter-spacing: -3px;

    }

    .text{
        margin-left: 100px;
        font-family: 'Montserrat', sans-serif;
        opacity: 0.7;
    }

    .log{
        margin: 100px;
    }


    
     
     

